@font-face {
    font-family: "Optimus Princeps";
    src: url(OptimusPrinceps.ttf);
}

body, a {
    color: goldenrod;
}

.heading, .boss p {
    font-family: "Optimus Princeps";
}

.second-section, .fourth-section {
    background-color: rgba(124, 110, 70, 0.76);
}

body {
    font-family: "Spectral", Helvetica, Arial, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.button {
    width: 125px;
    padding: 10px;
    color: black;
    background-color: goldenrod;
    font-weight: 700;
    border-radius: 15px;
}

a {
    text-decoration: none;
    font-weight: 700;
}





.first-section {
    display: flex;
    flex-direction: column;
}

.header-bar {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin: 0 40px 10px 25px;
}

.header-bar img {
    width: 45px;
}

.header-bar nav {
    display: flex;
    gap: 1.5rem;
}

.overview {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    margin-bottom: 3rem;
}

.overview img {
    width: 750px;
    border-radius: 5px;
    margin-left: 50px;
}

.description {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.overview .title {
    font-size: 60px;
}

.overview .summary {
    font-size: 18px;
    margin-bottom: 10px;
}

.description button {
    align-self: center;
}




.second-section {
    background-image: url(./img/gravesite-plain.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-bottom: 100px;
}

.second-section .heading {
    font-size: 36px;
    padding: 1rem;
    margin-top: 10px;
}

.boss-list {
    max-width: 1200px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.boss {
    width: 240px;
    font-weight: 600;
}

.boss img {
    border-radius: 30px;
    object-fit: cover;
    height: 250px;
    width: 250px;
}

.boss p {
    margin: 5px 0;
    background-color: rgb(82, 63, 15);
    border-radius: 5px;
    padding: 2px;
}






.third-section {
    background-color: rgb(26, 21, 7);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 10em 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.third-section .quote {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0;
}

.third-section .quotee {
    align-self: flex-end;
}





.fourth-section {
    background-image: url(https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/2778580/ss_c97bcad291f4f45d4be4594f34bd78921d961099.1920x1080.jpg?t=1721683108);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em 0;
}  

.equip-container {
    width: 750px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 40px 10px;
    flex-wrap: wrap;
}

.equip-container .button {
    height: 40px;
    align-self: center;
}

.rune-info {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.rune-info .heading {
    font-size: 30px;
}

.rune-info img {
    object-fit: cover;
    height: 125px;
    width: 125px;
    align-self: center;
}

.rune-info p {
    margin: 0;
}




.footer {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 30px 0;
}