@font-face {
    font-family: "Optimus Princeps";
    src: url(OptimusPrinceps.ttf);
}

body, a {
    color: goldenrod;
}

.heading {
    font-family: "Optimus Princeps";
}

.second-section, .fourth-section {
    background-color: rgba(124, 110, 70, 0.76);
}

body {
    font-family: "Spectral", Helvetica, Arial, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.button {
    width: 125px;
    padding: 10px;
    color: black;
    background-color: goldenrod;
    font-weight: 700;
    border-radius: 15px;
}

a {
    text-decoration: none;
    font-weight: 700;
}





.first-section {
    display: flex;
    flex-direction: column;
}

.header-bar {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin: 0 40px 10px 25px;
}

.header-bar img {
    width: 45px;
}

.header-bar nav {
    display: flex;
    gap: 1.5rem;
}

.overview {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    margin-bottom: 3rem;
}

.overview img {
    width: 750px;
    border-radius: 5px;
    margin-left: 50px;
}

.description {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.overview .title {
    font-size: 60px;
}

.overview .summary {
    font-size: 18px;
    margin-bottom: 10px;
}





.second-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-bottom: 100px;
}

.second-section .heading {
    font-size: 36px;
    padding: 1rem;
    margin-top: 10px;
}

.boss-list {
    max-width: 1200px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.boss {
    width: 240px;
    font-weight: 600;
}

.boss img {
    border-radius: 30px;
    object-fit: cover;
    height: 250px;
    width: 250px;
}

.boss p {
    margin: 5px 0;
}






.third {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.quote-box {
    display: flex;
    flex-direction: column;
}

.third .quote {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0;
    width: 500px;
}

.third .quotee {
    font-weight: 700;
    align-self: flex-end;
}





.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0;
}  

.fourth-box {
    display: flex;
    background-color: black;
    border-radius: 10px;
    width: 50em;
    justify-content: space-around;
    align-self: center;
    padding: 2em 0;
}

.fourth-text {
    width: 500px;
}

.fourth-text .main {
    font-size: 25px;
    font-weight: 600;
}

.fourth-box .button {
    height: 40px;
    align-self: center;
}








.footer {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 30px 0;
}